[Unit]
Description = autochangebackground
[Service]
ExecStart = /usr/bin/AutoChangeBg /home/yanpan/OneDrive/Pictures/WallPapers/
[Install]
WantedBy = default.target
