[Unit]
Description = Shadowsocks
[Service]
ExecStart = /user/bin/ssserver -c /opt/Shadowsocks/shadowsocks.json
[Install]
WantedBy = multi-user.target
